@tailwind base;

@tailwind components;

@tailwind utilities;

.form-create-entry {
    @apply p-4 w-full mx-auto max-w-md bg-white rounded-lg border shadow-md sm:p-8;

    h1 {
        @apply text-base font-bold mb-4
    }

    .datepicker {
        @apply grid grid-cols-3 mb-6 items-center
    }

    button {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
         focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center 
         dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    }
    
}

.base-input{
    @apply mb-6 grid grid-cols-3 items-center border-0 p-0;

    input, select {

        @apply  col-span-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 
        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
        dark:focus:ring-blue-500 dark:focus:border-blue-500
    }

}

label {
    @apply block mb-2 text-xs font-bold text-gray-900
}

.error {
    @apply text-red-500
}

.category {
    @apply text-white bg-cyan-600 font-bold rounded-full text-xs p-1
}



.entries {
    @apply divide-y divide-gray-200 dark:divide-gray-700;

    li {
        @apply container mx-auto py-3 sm:py-4
    }

    .content-entry {
        @apply grid grid-cols-6 gap-4 place-items-center;

        .title {
            @apply text-sm font-medium text-gray-900 truncate
        }

       .actions {
        @apply grid grid-cols-2 gap-2
       }

        
    }
}



.entries-card {
    @apply p-4  bg-white rounded-lg border shadow-md mb-4 sm:p-8;

    .header {
        @apply flex justify-between items-center mb-4;

        h2 {
            @apply text-base font-bold leading-none text-gray-900
        }

        a {
            @apply text-sm font-medium text-green-600 hover:underline dark:text-green-500
        }
    }

    .footer {
        @apply flex justify-between items-center mt-5
    }
}

.entries-budgets {
    @apply p-4  bg-white rounded-lg border shadow-md mb-4 sm:p-8;

    .header {
        @apply mb-4;

        h2 {
            @apply text-base font-bold leading-none text-gray-900
        }

        a {
            @apply text-sm font-medium text-green-600 hover:underline dark:text-green-500
        }
    }
}


.budgets-list {
    @apply p-4  bg-white rounded-lg border shadow-md mb-4 sm:p-8;

}


.stats-entries {
    @apply divide-y divide-gray-200 dark:divide-gray-700;

    li {
        @apply container mx-auto py-3 sm:py-4
    }

    .content-entry {
        @apply grid grid-cols-2 gap-2 place-items-center;

        span {
            @apply text-sm font-semibold inline-flex
        }

        .income-value {
            @apply bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900
        }

        .expenses-value {
            @apply bg-red-100 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900
        }

        .savings-value {
            @apply bg-purple-100 text-purple-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900
        }

    }
}

.budgets {
    @apply container mx-auto max-w-5xl
}

.budgets-listing {
    @apply grid grid-cols-2 mx-auto container gap-2 max-w-xl
}

.alert-success {
    @apply container mx-auto max-w-4xl p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800
}



/* badges */
.badge-green-sm {
    @apply bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900
}

.badge-red-sm {
    @apply bg-red-100 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900
}

.badge-indigo-sm {
    @apply bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900
}

.badge-dark-sm {
    @apply bg-gray-100 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300
}

.badge-yellow-sm {
    @apply bg-yellow-100 text-yellow-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900
}

.badge-green-lg {
    @apply bg-green-100 text-green-800 text-sm font-bold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900
}

.badge-red-lg {
    @apply bg-red-100 text-red-800 text-sm font-bold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900
}

.badge-indigo-lg {
    @apply bg-indigo-100 text-indigo-800 text-sm font-bold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900
}

.badge-dark-lg {
    @apply bg-gray-100 text-gray-800 text-sm font-bold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300
}

.badge-yellow-lg {
    @apply bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900
}

/* icons */
.delete-icon svg:hover {
    cursor: pointer;
    fill:  rgb(155 28 28)
}

.edit-icon svg:hover {
    cursor: pointer;
    fill:  rgb(3 84 63)
}